@model BootstrapVillas.Models.Comment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Comment</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Property.LegacyReference)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Property.LegacyReference)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StarRating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StarRating)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartdateOfStay)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartdateOfStay)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EnddateOfStay)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnddateOfStay)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Approved)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Approved)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Text)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Text)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CommentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
