@model BootstrapVillas.Models.CustomerBankDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CustomerBankDetail</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NameOnAccount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NameOnAccount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IBAN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IBAN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SwiftCode_BIC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SwiftCode_BIC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BankName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BankName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BankAddressLine1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BankAddressLine1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BankAddressLine2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BankAddressLine2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomerID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SortCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SortCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Account)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Account)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
