@model IEnumerable<BootstrapVillas.Models.PropertyOwnerAccount>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyOwner.PropertyOwnerEmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThirdPartyService.ThirdPartyServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAddress2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SortCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBAN)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhenCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PropertyOwner.PropertyOwnerEmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThirdPartyService.ThirdPartyServiceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankAddress1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankAddress2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SortCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IBAN)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AccountID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.AccountID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AccountID })
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable();
        $('#BottomEditorWindow').hide();
        $('#TopEditorWindow').animate({ height: '100%' }, 500);



    });
</script>
