@model IEnumerable<BootstrapVillas.Models.CurrencyExchange>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CurrencyExchangeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrencyExchangeRate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CurrencyExchangeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrencyExchangeRate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CurrencyExchangeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CurrencyExchangeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CurrencyExchangeID })
        </td>
    </tr>
}

</table>
