@model IEnumerable<BootstrapVillas.Models.PropertyPricing>

@{
    ViewBag.Title = "SinglePropertyPricingIndex";

    AjaxOptions options = new AjaxOptions
    {
        UpdateTargetId = "BottomEditorWindow",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "spinner"
    };
    
    AjaxOptions deleteOptions = new AjaxOptions
    {
        UpdateTargetId = "BottomEditorWindow",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "spinner",
        Confirm = "Are you sure you want to delete this?"
    };
    
    
    
    
}
<h3> Property Pricing
    @{
        if (Model.Count() > 0)
        {
            @Model.FirstOrDefault().Property.LegacyReference
            
        }
    }
</h3>

@Ajax.ActionLink("Create New", "Create", "PropertyPricing", options, new { id = "createButton", style = "" })
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Property.LegacyReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyPricingType.PropertyPricingSeasonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearPricingStarts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearPricingEnds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RollingPricing_NoYears_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricingNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricingStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricingEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceSymbol)
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Property.LegacyReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyPricingType.PropertyPricingSeasonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearPricingStarts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearPricingEnds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RollingPricing_NoYears_)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricingNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricingStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricingEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceSymbol)
            </td>
           
            <td>
                @Ajax.ActionLink("Edit", "Edit", "PropertyPricing",  new { id = item.PropertyPricingID }, options) |              
                @Ajax.ActionLink("Delete", "Delete", "PropertyPricing", new { id = item.PropertyPricingID},  deleteOptions )
            </td>
        </tr>
    }

</table>

