@model BootstrapVillas.Models.BookingParticipant

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BookingParticipant</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Booking.BookingPRCReference)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Booking.BookingPRCReference)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookingParticipantTitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookingParticipantTitle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookingParticipantFirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookingParticipantFirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookingParticipantMiddleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookingParticipantMiddleName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookingParticipantLastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookingParticipantLastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookingParticipantDOB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookingParticipantDOB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookingParticipantChild)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookingParticipantChild)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookingParticipantInfant)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookingParticipantInfant)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookingParticipantWhenCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookingParticipantWhenCreated)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
