@model IEnumerable<BootstrapVillas.Models.PropertyTown>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PropertyRegion.RegionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TownName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyRegion.RegionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TownName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PropertyTownID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PropertyTownID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PropertyTownID })
        </td>
    </tr>
}

</table>
