@model IEnumerable<BootstrapVillas.Models.BookingExternal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="example">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property.LegacyReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Property.LegacyReference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BookingExternalID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BookingExternalID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BookingExternalID })
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {

        $('#example').DataTable();
        $('#BottomEditorWindow').hide();
        $('#TopEditorWindow').animate({ height: '100%' }, 500);

    });
</script>
