@model BootstrapVillas.Models.CustomerBankDetail



<fieldset>
    <legend><css-decorator class="toTranslate">Customer Bank Details</css-decorator></legend>
    <div class="row-fluid">
        <div class="span12 lightGrey" id="customerBankDetailDiv">

            <input type="hidden" name="CustomerID" value="@Model.CustomerID" />
            <input type="hidden" name="CustomerBankDetailID" value="@Model.CustomerBankDetailID" />


            <div class="row-fluid">
                <div class="span12">
                    <label for="Account"><css-decorator class="toTranslate">Name on account</css-decorator></label>
                    <input type="text" name="NameOnAccount" id="NameOnAccount" class="span12 Account makeValid" required placeholder="e.g. Mr James Taylor" value="@Model.NameOnAccount">
                </div>
            </div>

            <div class="row-fluid">
                <div class="span8">
                    <label for="Account"><css-decorator class="toTranslate">Account No. (UK & Ireland)</css-decorator></label>
                    <input type="text" name="Account" id="Account" class="span12 Account " placeholder="e.g. 31926819" value="@Model.Account">
                </div>
                <!--/span-->
                <div class="span4">
                    <label for="sortCode"><css-decorator class="toTranslate">Sort Code (UK & Ireland)</css-decorator></label>
                    <input type="text" name="SortCode" id="SortCode" class="span12 sortCode" placeholder="e.g. 601613" value="@Model.SortCode">
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <label for="IBAN"><css-decorator class="toTranslate">IBAN (International)</css-decorator></label>
                    <input type="text" name="IBAN" id="IBAN" class="span12 IBAN" placeholder="e.g. GB12NWBK01234567891234" value="@Model.IBAN">
                </div>
                <!--/span-->
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <label for="SWIFT"><css-decorator class="toTranslate">SWIFT / BIC</css-decorator></label>
                    <input type="text" name="SwiftCode_BIC" id="SwiftCode_BIC" class="span12 SWIFT" value="@Model.SwiftCode_BIC">
                </div>

                <div class="span6">
                    <label for="BankName"><css-decorator class="toTranslate">Bank Name</css-decorator></label>
                    <input type="text" name="BankName" id="BankName" class="span12 makeValid" required value="@Model.BankName">
                </div>
            </div>

            <div class="row-fluid">
                <div class="span6">
                    <label for="BankName"><css-decorator class="toTranslate">Bank Address Line 1</css-decorator></label>
                    <input type="text" name="BankAddressLine1" id="BankAddressLine1" class="span12 makeValid" required value="@Model.BankAddressLine1">
                </div>

                <div class="span6">
                    <label for="BankName"><css-decorator class="toTranslate">Bank Address Line 2</css-decorator></label>
                    <input type="text" name="BankAddressLine2" id="BankAddressLine2" class="span12" value="@Model.BankAddressLine2">
                </div>
                <!--/span-->
                @*      <div class="span6">
                    <label for="BIC">BIC (Bank Identifier Code)</label>
                    <input type="text" name="BIC" id="BIC" class="span12 BIC">
                </div>*@

            </div>
            <small>1. *<css-decorator class="toTranslate">All property bookings are provisional until initial proof of deposit dispatch has been received via email</css-decorator>. </small>
            <br />
            <small>2. *<css-decorator class="toTranslate">Payment details required for the refund of breakage deposit</css-decorator>.</small>


        </div>
    </div>


</fieldset>
