@using BootstrapVillas.Models
<!------------------------------ QUICK SEARCH PANEL ON THE RIGHT------------------------>
<div class="row-fluid" style="margin-bottom:30px;">
    <div class="span12" style="padding: 20px; background-color: #34495e; border-radius: 5px; color: #fff; border: 1px solid #2c3e50;">
        <form class="form-horizontal" name="BookingForm" id="BookingForm1" method="POST" action="/Home/SearchProperties">
            <fieldset><legend style="color: #fff;"><i class="fa fa-search" style="padding-right: 5px; vertical-align: baseline;"></i>Search Properties</legend></fieldset>

            <i class="fa fa-search-plus pull-left inset" style="vertical-align: baseline; padding: 7px 5px 0 0;"></i>
            <label class="toTranslate">PRC Reference</label>
            <input type="text" class="span12" placeholder="e.g. prcv09" id="propAutocomplete1" style="z-index:2500" />

            
            <i class="fa fa-calendar pull-left inset" style="vertical-align: baseline; padding: 7px 5px 0 0;"></i>
            <label>Start Date</label>            
            <input type="text" class="date-picker span12" id="StartDate1" name="StartDate1" id="StartDate1" placeholder="DD/MM/YY" style="height: 35px;">

            <i class="fa fa-calendar pull-left inset" style="vertical-align: baseline; padding: 7px 5px 0 0;"></i>
            <label>End Date</label>
            <input type="text" class="date-picker span12" id="EndDate1" name="EndDate1" placeholder="DD/MM/YY" style="height: 35px;">

            <hr style="height: 0px; border-top: 1px solid #000; border-bottom: 1px solid #fff; opacity: 0.1; margin-top: 20px;">

            <div class="demo">
                <label for="PriceRange">Price Range (per week):</label>
                <input type="text" id="amount14" disabled="disabled" name="PriceRange" style="border: 0; color: #24A3DB; font-weight: normal; background: None;" />
                <div id="slider-range14"></div>

            </div>
            <!-- End slider -->

            <hr style="height: 0px; border-top: 1px solid #000; border-bottom: 1px solid #fff; opacity: 0.1; margin-top: 20px;">

            <div class="row-fluid">
                <label>Accomodation Type</label>
                <select name="PropertyType" class="span12">
                    <option value="0">Any</option>

                    @foreach (var item in PropertyType.GetPropertyTypes())
                    {
                        <option value="@item.PropertyTypeID">@item.PropertyTypeName</option>
                    }

                </select>

                <hr style="height: 0px; border-top: 1px solid #000; border-bottom: 1px solid #fff; opacity: 0.1;">

                <label>Holiday Type</label>
                <select name="RegionType" class="span12">

                    <option value="0">Any</option>

                    @foreach (var item in PropertyVacationType.GetPropertyVacationTypes())
                    {
                        <option value="@item.PropertyVacationTypeID">@item.PropertyVacationTypeDescription</option>
                    }

                </select>

                <hr style="height: 0px; border-top: 1px solid #000; border-bottom: 1px solid #fff; opacity: 0.1;">

                <label>Pool Type</label>
                <select id="PoolType" name="PoolType" class="span12">

                    <option value="">Any</option>

                    @foreach (var item in @Property.GetSwimmingPoolTypes())
                    {
                        <option value="@item">@item</option>
                    }
                </select>

                <hr style="height: 0px; border-top: 1px solid #000; border-bottom: 1px solid #fff; opacity: 0.1;">



                <div class="row-fluid">
                    <div class="span6">
                        <label>Sleeps</label>
                        <select id="MaxSleeps" name="MaxSleeps" class="span12">

                            @{
                                for (int i = 0; i < (int)Property.GetHighestNoOfPropertyVariable(Property.PropertyVariables.MaxSleeps) + 1; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            }

                        </select>
                    </div>

                    <div class="span6">
                        <label>Adults</label>
                        <select id="NoOfAdults" name="NoOfAdults" class="span12">
                            @{
                                for (int i = 0; i < (int)Property.GetHighestNoOfPropertyVariable(Property.PropertyVariables.MaxSleeps) + 1; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            }

                        </select>
                    </div>
                </div>

                <hr style="height: 0px; border-top: 1px solid #000; border-bottom: 1px solid #fff; opacity: 0.1;">

                <div class="row-fluid">
                    <div class="span6">
                        <label>Children</label>
                        <select id="NoOfChildren" name="NoOfChildren" class="span12">

                            @{
                                for (int i = 0; i < (int)Property.GetHighestNoOfPropertyVariable(Property.PropertyVariables.MaxSleeps) + 1; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            }

                        </select>
                    </div>

                    <div class="span6">
                        <label>Infants</label>
                        <select id="NoOfInfants" name="NoOfInfants" class="span12">

                            @{
                                for (int i = 0; i < (int)Property.GetHighestNoOfPropertyVariable(Property.PropertyVariables.MaxSleeps) + 1; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            }

                        </select>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <input type="submit" class="span12 btn btn-info" style="text-align: center; margin-top: 30px" text="Search">
            </div>
        </form>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="panel panel-info">
            <div class="panel-heading">Other Parties</div>
            <div class="panel-body-white">
                <iframe src="http://www.currencyindex.co.uk/currencywidget.aspx?id=59" frameborder="0" height="395"></iframe>
            </div>
        </div>
    </div>
</div>


