@model BootstrapVillas.Models.BookingExtraAttribute

@{
    ViewBag.Title = "Create";


    AjaxOptions createOptions = new AjaxOptions
    {
        UpdateTargetId = "BottomEditorWindow",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "spinner",
        OnSuccess = "alert('Created!)"

    };
    
}

<h2>Create</h2>

@using (Ajax.BeginForm("Create", "BookingExtraAttribute", createOptions))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BookingExtraAttribute</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.BookingExtraID, "BookingExtra")
        </div>
        <div class="editor-field">
            @Html.DropDownList("BookingExtraID", String.Empty)
            @Html.ValidationMessageFor(model => model.BookingExtraID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AttributeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AttributeName)
            @Html.ValidationMessageFor(model => model.AttributeName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AttributeContent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AttributeContent)
            @Html.ValidationMessageFor(model => model.AttributeContent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AttributeOrder)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AttributeOrder)
            @Html.ValidationMessageFor(model => model.AttributeOrder)
        </div>

      

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

