@model BootstrapVillas.Models.PropertyOwner

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PropertyOwner</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PropertyOwnerEmailAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PropertyOwnerEmailAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PropertyOwnerEmailAddress2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PropertyOwnerEmailAddress2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PropertyOwnerEmailAddress3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PropertyOwnerEmailAddress3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OwnerFirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OwnerFirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OwnerLastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OwnerLastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PropertyOwnerHouseName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PropertyOwnerHouseName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PropertyOwnerHouseNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PropertyOwnerHouseNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PropertyOwnerAddressLine1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PropertyOwnerAddressLine1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PropertyOwnerAddressLine2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PropertyOwnerAddressLine2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PropertyOwnerTown)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PropertyOwnerTown)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PropertyOwnerPostcode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PropertyOwnerPostcode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PropertyOwnerCounty)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PropertyOwnerCounty)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PropertyOwnerCountry)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PropertyOwnerCountry)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PropertyOwnerHomeTelephone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PropertyOwnerHomeTelephone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PropertyOwnerMobileTelephone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PropertyOwnerMobileTelephone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WhenCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WhenCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PropertyOwnerNotes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PropertyOwnerNotes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PropertyOwnerBankDetails)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PropertyOwnerBankDetails)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PropertyOwnerBankDetailsNotes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PropertyOwnerBankDetailsNotes)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
