@model BootstrapVillas.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Customer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MiddleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MiddleName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DOB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DOB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmailAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AltEmailAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AltEmailAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DayTimeTelephone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DayTimeTelephone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HomeTelephone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HomeTelephone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MobileTelephone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MobileTelephone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AltTelephone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AltTelephone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompanyTelephone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyTelephone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Town)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Town)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Postcode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Postcode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.County)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.County)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Country)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Test)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Test)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WhoUpdated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WhoUpdated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreationDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PreferredCurrency)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreferredCurrency)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PreferredCurrencySymbol)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreferredCurrencySymbol)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
