@model IEnumerable<BootstrapVillas.Models.BookingExtra>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.isHalfDayTour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingExtraType.ExtraTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingExtraSubTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LegacyReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopLevelItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPersons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingExtraName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingExtraDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullSynopsis1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullSynopsis2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullSynopsis3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HTMLContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceSynopsis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceTimespan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceSymbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LowSeasonPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MidSeasonPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HighSeasonPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeakSeasonPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarSeatPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraLuggageCostPerPiece)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetourCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.isHalfDayTour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingExtraType.ExtraTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingExtraSubTypeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LegacyReference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TopLevelItem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxPersons)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingExtraName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingExtraDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullSynopsis1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullSynopsis2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullSynopsis3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HTMLContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceSynopsis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhenCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceTimespan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceSymbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LowSeasonPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MidSeasonPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HighSeasonPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PeakSeasonPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarSeatPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtraLuggageCostPerPiece)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DetourCost)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BookingExtraID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BookingExtraID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BookingExtraID })
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {

        $(document).ready(function () {
            $('#example').DataTable();
            $('#BottomEditorWindow').hide();
            $('#TopEditorWindow').animate({ height: '100%' }, 500);


        });
    });
</script>
