@model BootstrapVillas.Models.Event

@{
    ViewBag.Title = "Create";
}

@{
   

    AjaxOptions options = new AjaxOptions
    {
        UpdateTargetId = "BottomEditorWindow",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "spinner"
    };
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Event</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CaseID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CaseID)
            @Html.ValidationMessageFor(model => model.CaseID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EventTypeID, "EventType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EventTypeID", String.Empty)
            @Html.ValidationMessageFor(model => model.EventTypeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WhenCreated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WhenCreated)
            @Html.ValidationMessageFor(model => model.WhenCreated)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BookingID, "Booking")
        </div>
        <div class="editor-field">
            @Html.DropDownList("BookingID", String.Empty)
            @Html.ValidationMessageFor(model => model.BookingID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BookingExtraSelectionID, "BookingExtraSelection")
        </div>
        <div class="editor-field">
            @Html.DropDownList("BookingExtraSelectionID", String.Empty)
            @Html.ValidationMessageFor(model => model.BookingExtraSelectionID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    
</div>
