@model IEnumerable<BootstrapVillas.Models.EventType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EvenTypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventSubType.EventSubTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventSchemeType.EventSchemeTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EvenTypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventSubType.EventSubTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventSchemeType.EventSchemeTypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventTypeID })
        </td>
    </tr>
}

</table>
